<br>
<h1 class="text-center">All Patients</h1>
<hr>
<div class="container">
  <div class="row d-flex justify-content-between">
    <div class="col-lg-2 col-md-6 col-sm-12">
      <select class="form-select border border-2" [(ngModel)]="itemsPP" (ngModelChange)="receivePatients()" placement="top" ngbTooltip="Items Per Page">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }} Items
        </option>
      </select>
    </div>&nbsp;
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="input-group mb-3">
        <div class="input-group-append">
          <button id="search" class="btn btn-light border border-2" type="button" (click)="clearSearch()" placement="top" ngbTooltip="Clear Search & Refresh">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="24" height="24"
              viewBox="0 0 24 24"
              style=" fill:rgb(19, 206, 119);"><path d="M19.51,4.257l-0.568,0.568C17.143,3.084,14.702,2,12,2C7.789,2,4.187,4.603,2.713,8.288C2.193,9.588,3.19,11,4.59,11h0 c0.79,0,1.54-0.451,1.828-1.186C7.291,7.582,9.458,6,12,6c1.598,0,3.043,0.632,4.117,1.651L15.257,8.51 c-0.55,0.55-0.16,1.49,0.617,1.49h3.707C20.365,10,21,9.365,21,8.582V4.874C21,4.097,20.06,3.708,19.51,4.257z" opacity=".35"></path><path d="M4.418,14h3.707c0.777,0,1.167,0.94,0.617,1.49L4.49,19.743C3.94,20.292,3,19.903,3,19.126v-3.707	C3,14.635,3.635,14,4.418,14z"></path><path d="M19.41,13c-0.79,0-1.54,0.451-1.828,1.186C16.709,16.418,14.542,18,12,18c-2.208,0-4.135-1.194-5.174-2.972	c-0.36-0.615-3.975,1.344-3.015,2.712C5.62,20.316,8.613,22,12,22c4.211,0,7.813-2.603,9.287-6.288C21.807,14.412,20.81,13,19.41,13	L19.41,13z"></path>
            </svg>
          </button>
        </div>&nbsp;&nbsp;&nbsp;
        <input
          type="text"
          class="form-control rounded-start border border-2"
          placeholder="Search by Name"
          [(ngModel)]="name"
        />
        <input
          type="number"
          class="form-control border border-2"
          placeholder="Search by File No."
          [(ngModel)]="fileNo"
        />
        <input
          type="text"
          class="form-control rounded-end border border-2"
          placeholder="Search by Phone"
          [(ngModel)]="phone"
        />
        &nbsp;&nbsp;&nbsp;
        <div class="input-group-append">
          <button id="search" class="btn btn-light border border-2" type="button" (click)="search()">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="24" height="24"
              viewBox="0 0 24 24"
              style=" fill:rgb(19, 206, 119);"><path d="M21.414,18.586c-0.287-0.287-1.942-1.942-2.801-2.801c-0.719,1.142-1.686,2.109-2.828,2.828	c0.859,0.859,2.514,2.514,2.801,2.801c0.781,0.781,2.047,0.781,2.828,0C22.195,20.633,22.195,19.367,21.414,18.586z"></path><circle cx="11" cy="11" r="9" opacity=".35"></circle>
            </svg>
            <b> Search</b>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12">
      <app-add-patient (refreshList)="receivePatients()"> </app-add-patient>
    </div>
  </div>
</div>

<div class="container">
  <div class="scrollable" style="border-radius: 9px;">
    <table class="table table-light" style="border-radius: 9px;">
        <thead class="table-dark">
          <tr>
            <th>Name</th>
            <th>FileNo.</th>
            <th>Gender</th>
            <th>Birth Date</th>
            <th>Phone Number</th>
            <th>Country</th>
            <th>City</th>
            <th>Street</th>
            <th>Contact Phone</th>
            <th>First Visit Date</th>
            <th style="color: #27b7de;">Details</th>
            <th style="color: #de2780;">Delete</th>
            <th style="color: #dae23a;">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients|async">
            <td>{{patient.name}}</td>
            <td [width]="50">{{patient.fileNo}}</td>
            <td *ngIf="patient.gender==1">Female</td>
            <td *ngIf="patient.gender==0">Male</td>
            <td>{{patient.birthDate|date}}</td>
            <td>{{patient.phoneNumber}}</td>
            <td>{{patient.country}}</td>
            <td>{{patient.city}}</td>
            <td>{{patient.street}}</td>
            <td>{{patient.contactPhone}}</td>
            <td>{{patient.firstVisitDate|date}}</td>
            <td>
              <!-- Details Modal -->
              <app-patient-details [patient]="patient"></app-patient-details>
            </td>
            <td>
              <!-- Delete Modal -->
              <app-delete-patient (refreshList)="receivePatients()" [patient]="patient"></app-delete-patient>
            </td>
            <td>
              <!-- Edit Modal -->
              <app-update-patient (refreshList)="receivePatients()" [patient]="patient"></app-update-patient>
            </td>
        </tr>
        </tbody>
    </table>
  </div>
  <br>

  <div class="d-flex justify-content-center">
    <ngb-pagination *ngIf="patientService.pager != null" [collectionSize]="patientService.pager.totalItems" [pageSize]="itemsPP" (pageChange)="changePage($event)" [(page)]="page" [maxSize]="15" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
      <ng-template ngbPaginationPages let-page let-pages="pages">
          <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
              <div class="mb-3 d-flex flex-nowrap px-2">
                <label
                    id="paginationInputLabel"
                    for="paginationInput"
                    class="col-form-label me-2 ms-1"
                >Page</label>
                <input #i
                    type="text"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    class="form-control custom-pages-input"
                    id="paginationInput"
                    [value]="page"
                    (keyup.enter)="selectPage(i.value)"
                    (blur)="selectPage(i.value)"
                    (input)="formatInput($any($event).target)"
                    aria-labelledby="paginationInputLabel paginationDescription"
                    style="width: 2.5rem"
                />
                <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                    of {{pages.length}}</span>
              </div>
          </li>
      </ng-template>
    </ngb-pagination>
  </div>
<br><br>
</div>

