/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
:root,*{
    font-family: 'Cairo', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Cairo, "Helvetica Neue", sans-serif; }

body::-webkit-scrollbar {
    width: 0px;
}
.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}
.scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(68, 235, 160,0.7);
    border-radius: 2px;
}